.react-calendar{

  width: 100% !important;
  border: 1px solid black !important;
  background-color: #b2dfdb !important;
  
  border-radius: 5px !important;
  
}

.react-calendar__navigation__label{

  font-size:18px !important;
}

.react-calendar__navigation__arrow{

  font-size:25px !important;
}

.react-calendar__tile{

  font-size:16px;
}



.react-calendar__tile--now{

 background:#b2dfdb !important;
}

.sakrij{

  display:none;
}

.input-field>label{

  color:black !important;
}




#ze{

  display:block;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.priceInput{

  border: 1px solid black !important;
  height: 30px !important;
  text-align:center;
}

.collection{

  height: 300px !important;
  overflow: auto;
}

span::before{

  border: 2px solid black !important;
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.slideOutUp {
  -webkit-animation-name: slideOutUp;
  animation-name: slideOutUp;
}


.surrounding{

  border: 1px solid black;
  padding: 10px 10px 10px 10px;
}

#submitArrow{

  vertical-align: bottom !important;
  padding-left: 10px;
}

.slack{
  
  width:200px;
  height:70px;
  background-color: green;
  border: 2px solid yellow;
  border-radius: 2px;
  color: yellow;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  position:absolute;
  transform: translateX(2000px);
  animation-name:example;
   animation-duration: 1s;
   z-index: 2000;
   transition-timing-function: linear;
  
}



@keyframes example {
  from {transform: translateX(1500px);}
  to {transform: translateX(1200px);}
 
}

.modal1 {
  /* Hidden by default */
  position:absolute;/* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content1 {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  top: 300px;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s}

/* The Close Button */
.close1 {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header1 {
  padding: 2px 16px;
  background-color:#4db6ac;
  color: white;
}

/* Modal Body */
.modal-body1 {padding: 2px 16px;}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 300; opacity: 1}
}

#formDesign{

  border: 2px solid black;
  border-radius: 15px;
  margin-top: 5%;
  opacity: 1;
  
  
}

#background{
height: 100vh;
margin:0;
background-color: rgba(0,0,255,0.5);


}

#registerButton{

  background-color: #f44336;
}

#registerButton:hover{

  background-color: red;
}

#headerDiv{

  
  margin-bottom: 0px;
}

#reservationsHeaderTitle{

  font-family: 'Chicle', cursive;
  text-align:center;

}

#pictureDiv{

  min-width:1024px;

  height:100vh;
  background-image: url('welcome1.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: hidden;
  
  filter: brightness(0.30);

}

#welcomeText{
  width:300px;
  position:absolute;
  font-family: 'Chicle', cursive;
  color:yellow;
  font-size:60px;
  z-index:2000;
  filter: brightness(1.30);
  top:50px;
  left:200px;
  text-align:center;
  overflow-y: hidden;
  

}

.button-group{
  width:300px;
  position:absolute;
  bottom:100px;
  

  z-index:2000;
  filter: brightness(1.30);
 
  right:50px;
  
 

}

.buttons{
width:100%;
margin-top:25px;
color:black !important;
opacity:0.5;
font-weight:bold;

}

.buttons:hover{

opacity:1;
}


#mySidenav{

  width:600px;
  height:0px;
  position:absolute;
  top:-10px;
  left: 40%;
  background-color:black;
  z-index:20001;
  opacity:0.7;
  transition: height 1s;
  border: 1px solid white;
  color:white;
  overflow:hidden;
  outline-style: solid;
  outline-color: yellow;

}

#darken{
  min-width:1024px;

  height:100vh;


}

#mySidenav a {
  
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:white;
  
}

#mySidenav a:hover {
  color: yellow;
  cursor:pointer;
}

label.loginLabel{

  color:white !important;
}

#garbageIcon:hover{

  color: red;
}

#garbageIconMobile:hover{

  color: red;
}

#garbageIconMobile{

  display:none;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 10px;
  left:50px;

}
.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.flex-container {
  display: flex;
  flex-wrap: row-wrap;
  justify-content: space-between;
 

}

#logOut:hover{
  color:red;

}

#crtaa{
  width:70%;

border-bottom: 1px solid black;
margin-bottom:20px;
}

@media screen and (max-width: 480px) {
  #mySidenav{
    width:370px;
    position:absolute;
    
    font-size:30px;
     margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity:1;
    
     }

     #loginDivbutton{
       font-size:12px;
     }

     .lds-ellipsis div {
      position: absolute;
      top: -20px;
       width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    #loginErrorText{

      font-size:12px;
    }

    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 10px;
      left:-5px;
    
    }
     

  #welcomeText{
    width:300px;
    position:absolute;
    font-size:30px;
     margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
   
  
  }

  .button-group{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .react-calendar{

    min-width:400px !important;
    border: 1px solid black !important;
    background-color: #b2dfdb !important;
    left:auto;
    right:auto;
    border-radius: 5px !important;
    position:relative;
    
   

    
  }

  #belowCalendarLabel{

    position:relative;
    left:25%;
    right:25%;
    
  }

  #crtaa{
    width:50%;
  
  border-bottom: 1px solid black;
  margin-bottom:20px;
  }

  .collapsible-body{

    padding-left:20px !important;
   }

  #collapsibleTable{

    overflow-x:scroll;
  }

  .forma{

    border-left:0px !important;
    
    
    

  }

  #formDesign{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    width:280px;
    left: 0;
    right: 0;
    text-align: center;

  }

  .surrounding{

    width:400px;
    
    
    left: 0;
    right: 0;
    

  }
}

@media screen and (max-width: 380px) {
  #mySidenav{
    width:280px;
    position:absolute;
    
    font-size:30px;
     margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity:1;
    
     }

     #mySidenav a{

      right:5px !important;
     }

     #loginDivbutton{
       font-size:8px;
       width:80px !important;
       margin-left:0px !important;
     }

     .lds-ellipsis div {
      position: absolute;
      top: -20px;
       width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

    #loginErrorText{

      font-size:12px;
    }

    .lds-ellipsis {
      display: inline-block;
      position: relative;
      width: 30px;
      height: 10px;
      left:-5px;
    
    }
     

  #welcomeText{
    width:280px;
    position:absolute;
    font-size:30px;
     margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
   
  
  }

  .button-group{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    width:280px;
    left: 0;
    right: 0;
    text-align: center;
  }
  .react-calendar{

    margin-left: auto !important;
    margin-right: auto !important;
    
    left: 0 !important;
    right: 0 !important;
    position:relative !important;
    min-width:240px !important;
   

    
  }

  .slack{
  
    width:200px;
    height:70px;
    background-color: green;
    border: 2px solid yellow;
    border-radius: 2px;
    color: yellow;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    position:absolute;
    transform: translateX(2000px);
    animation-name:example;
     animation-duration: 2s;
     z-index: 2000;
     transition-timing-function: linear;
    
  }
  
  
  
  @keyframes example {
    from {transform: translateX(800px);}
    to {transform: translateX(10px);}
   
  }

  #belowCalendarLabel{

    position:relative;
    left:25%;
    right:25%;
    
  }

  #userName{

    font-size:18px;
  }
  #crtaa{
    width:30%;
  
  border-bottom: 1px solid black;
  margin-bottom:20px;
  }

  .collapsible-body{

    padding-left:20px !important;
   }

  #collapsibleTable{

    overflow-x:scroll;
  }

  .forma{

    border-left:0px !important;
    
    
    

  }

  #formDesign{
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    width:280px;
    left: 0;
    right: 0;
    text-align: center;

  }

  .surrounding{

    
    
    left: 0 !important;
    right: 0 !important;
    position:relative !important;
   width:240px !important;
    

  }

  #garbageIcon{

    display: inline;
  }

  
}

@media screen and (max-width: 992px) and (min-width:480px) {

  #mySidenav{
    left: 30%;
    opacity:1;
     }

     .surrounding{
      position:relative;
      width:500px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      
      
      left: 0;
      right: 0;
      
    }

    .forma{

      border-left:0px !important;
     margin-left:22% !important;
      
      
      
  
    }
  
    #formDesign{
        margin-left:auto;
        margin-right:auto;
  
    }

   .tabletClass{

    margin-left:17% !important;
   }

}


